### BEGIN ADDED BY LS FOR CUSTOM STATUS PAGE PATH ###
<IfModule status_module>
    <Location /{{status_page_token}}>
        SetHandler server-status
        Order deny,allow
        Deny from all
        Allow from 127.0.0.1 ::1
        <IfModule security2_module>
            SecRuleEngine Off
        </IfModule>
        <IfModule security3_module>
           modsecurity_rules 'SecRuleEngine Off'
        </IfModule>
    </Location>
</IfModule>
### END ADDED BY LS FOR CUSTOM STATUS PAGE PATH ###
